





	.button
	{
		background-image: url('button.svg');
	}
	
		.button:hover
		{
			background-image: url('button-hover.svg');
		}
	
		.button:active
		{
			background-image: url('button-active.svg');
		}

		.button-alt
		{
			background-image: url('button-alt.svg');
		}

			.button-alt:hover
			{
				background-image: url('button-alt-hover.svg');
			}

			.button-alt:active
			{
				background-image: url('button-alt-active.svg');
			}

	.box-feature1
	{
	}
	
		.box-feature1 header.second
		{
			left: 0;
		}





	#footer-wrapper
	{
	}
	
		#footer-wrapper:before
		{
			background-image: url('footer-wrapper.svg');
		}
		




	#header
	{
	}

		#header .inner
		{
			background-image: url('header-inner.svg');
		}




	
	.dropotron
	{
		background-image: url('header-inner.svg');
	}
	




	#mobileUI-site-titlebar
	{
		background-image: url('header-inner.svg');
	}

	#mobileUI-site-nav-inner
	{
		background-image: url('footer-wrapper.svg');
	}